body {
    /* background-image: url("../images/circles-light/circles-light/circles-light.png"); */
    background-image: url("../images/hypnotize/hypnotize/hypnotize.png");
}
.topic-button {
    width: 15%;
    height: 30px;
    border-style: solid 1px;
    padding: 2px;
    margin: 2px;
    background-color: #FDBAA8;
    font-weight: 700;
}

.reactionButtons {
    margin: 30px 60px;
    height: 100%;
    width: 600px;
}

.reactions {
    padding-top: 30px;
    margin: 30px 60px;
}
.reaction-form {
    margin: 30px 60px;
    text-align: left;
}
.addreaction {
    width: 15%;
    height: 30px;
    border-style: solid 1px;
    padding: 2px;
    margin: 2px;
    
}
.topic-input {
    margin-bottom: 10px;
    width: 15%;
}
.reactionLabel {
    font-weight: 600;
}
.item {
    width: 250px;
    padding: 5px;
    margin: 5px;
    /* border: 2px; */
    /* border-color: #FDBAA8; */
    /* border-style: groove; */
    display: inline-block;
    overflow: auto;
    
}
p {
    font-weight: 600;
}
